@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Learn about <a href="https://cloud.ibm.com">Construyendo un asistente con buscador usando IBM Watson</a>.</p>
</div>
